* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/*
* Font Name: Vazir
* Version: 27.0.3
*/

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("../fonts/Vazir/regular/Vazir-Regular.eot");
  src: url("../fonts/Vazir/regular/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/regular/Vazir-Regular.woff2") format("woff2"),
    url("../fonts/Vazir/regular/Vazir-Regular.woff") format("woff");
}

@font-face {
  font-family: Vazir-Medium;
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../fonts/Vazir/medium/Vazir-Medium.eot");
  src: url("../fonts/Vazir/medium/Vazir-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/medium/Vazir-Medium.woff2") format("woff2"),
    url("../fonts/Vazir/medium/Vazir-Medium.woff") format("woff");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../fonts/Vazir/regular/Vazir-Regular.eot");
  src: url("../fonts/Vazir/regular/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/regular/Vazir-Regular.woff2") format("woff2"),
    url("../fonts/Vazir/regular/Vazir-Regular.woff") format("woff");
}

@font-face {
  font-family: Vazir-Bold;
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url("../fonts/Vazir/bold/Vazir-Bold.eot");
  src: url("../fonts/Vazir/bold/Vazir-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/bold/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/Vazir/bold/Vazir-Bold.woff") format("woff");
}

@font-face {
  font-family: Vazir-Light;
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/Vazir/light/Vazir-Light.eot");
  src: url("../fonts/Vazir/light/Vazir-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/light/Vazir-Light.woff2") format("woff2"),
    url("../fonts/Vazir/light/Vazir-Light.woff") format("woff");
}

@font-face {
  font-family: VazirFD;
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/Vazir/farsi-digits/Vazir-Light-FD.eot");
  src: url("../fonts/Vazir/farsi-digits/Vazir-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/farsi-digits/Vazir-Light-FD.woff2") format("woff2"),
    url("../fonts/Vazir/farsi-digits/Vazir-Light-FD.woff") format("woff");
}

@font-face {
  font-family: Vazir-Thin;
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: url("../fonts/Vazir/thin/Vazir-Thin.eot");
  src: url("../fonts/Vazir/thin/Vazir-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Vazir/thin/Vazir-Thin.woff2") format("woff2"),
    url("../fonts/Vazir/thin/Vazir-Thin.woff") format("woff");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
